<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav id="page-nav">
        <div class="container" id="nav-row" th:fragment="nav">
            <a id="logo" th:href="@{/}">Baza OEM</a>
            <a class="nav-item" href="">Czynniki środowiska pracy</a>
            <a class="nav-item" href="">Interpretacja wyników</a>
            <a class="nav-item" href="">Wyświetl wyniki</a>
        </div>
    </nav>
</body>
</html>