<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${navigation}">Navigation</title>
</head>
<body>
<nav id="page-nav" th:fragment="nav">
    <div class="container" id="nav-row">
        <a th:href="@{/}" th:classappend="${title == 'Baza OEM'} ? 'active' : ''" id="logo">Baza OEM</a>
        <a th:href="@{/factorDescription}" th:classappend="${title == 'Opis czynników szkodliwych'} ? 'active' : ''" class="nav-item">Opis czynników szkodliwych</a>
        <a th:href="@{/oem-panel}" th:classappend="${title == 'Baza czynników'} ? 'active' : ''" class="nav-item">Baza czynników</a>
        <a th:href="@{/result-table}" th:classappend="${title == 'Wyświetl wyniki pomiarów'} ? 'active' : ''" class="nav-item">Wyświetl wyniki pomiarów</a>
        <a th:href="@{/stat-table}" th:classappend="${title == 'Podstawowe statystyki'} ? 'active' : ''" class="nav-item">Podstawowe statystyki</a>
    </div>
</nav>
</body>
</html>