<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #home-page-content})}">
<section id="home-page-content">
    <div class="container">
        <div>
            <img id="signs-image" th:src="@{/img/mainPic.jpg}" alt="Znaki ostrzegawcze">
        </div>
        <div>
            <h2>Pomiary czynników szkodliwych na stanowiskach pracy</h2>
            <p>
                Zgodnie z przepisami rozporządzenia Ministra Zdrowia z dnia 2 lutego 2011 r. w sprawie badań i pomiarów
                czynników szkodliwych dla zdrowia w środowisku pracy (Dz. U. z 2011 r. Nr 33, poz. 166), pracodawca
                wskazuje czynniki szkodliwe dla zdrowia w środowisku pracy, dla których wykonuje się badania i pomiary.
                <br/>
                Badania i pomiary wykonuje się po przeprowadzeniu rozpoznania źródeł ich emisji oraz warunków
                wykonywania pracy, które mają wpływ na poziom stężeń lub natężeń tych czynników, lub na poziom narażenia
                na oddziaływanie tych czynników.
            </p>
        </div>
        <div class="button-row">
            <a th:href="@{/register}" class="btn">Wprowadzanie wyników pomiarów</a>
        </div>
    </div>
</section>
</html>