<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #result_content})}">
<section id="result_content">
    <div class="container">
        <h1>Wyniki pomiarów na stanowiskach pracy</h1>
        <form action="">
            <table class="table-result">
                <tr class="tbl-h">
                    <th>Czynnik</th>
                    <th>Opis</th>
                    <th>NDS</th>
                    <th>Jednostka</th>
                    <th>Wynik pomiaru</th>
                    <th>Krotność</th>
                    <th>Interpretacja</th>
                    <th>Data</th>
                    <th>Wydział</th>
                    <th>Faza</th>
                    <th>Sala</th>
                    <th>Czynność</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>ŚOI</th>
                </tr>
                <tr th:each="result : ${results}" class="tbl-d">
                    <td th:text="${result.factorName}"></td>
                    <td th:text="${result.factorDescription}"></td>
                    <td th:text="${result.oel}"></td>
                    <td th:text="${result.unit}"></td>
                    <td th:text="${result.measurementResult}"></td>
                    <td th:text="${result.divideResult}"></td>
                    <td th:text="${result.interpretation}"></td>
                    <td th:text="${result.ctime}"></td>
                    <td th:text="${result.department}"></td>
                    <td th:text="${result.phase}"></td>
                    <td th:text="${result.room}"></td>
                    <td th:text="${result.activity}"></td>
                    <td th:text="${result.firstName}"></td>
                    <td th:text="${result.lastName}"></td>
                    <td th:text="${result.ppe}"></td>
                </tr>
            </table>
        </form>
    </div>
</section>
</html>