<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #result_content})}">
<section id="result_content">
    <div class="container">
        <h1>Tabela wyników pomiarów na stanowiskach pracy</h1>
        <form action="">
            <table class="table-result">
                <tr class="tbl-h">
                    <th>factor_name</th>
                    <th>factor_description</th>
                    <th>oel</th>
                    <th>unit</th>
                    <th>measurement_result</th>
                    <th>divide_result</th>
                    <th>interpretation</th>
                    <th>ctime</th>
                    <th>department</th>
                    <th>phase</th>
                    <th>room</th>
                    <th>activity</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>ppe</th>
                </tr>
                <tr class="tbl-d">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
            </table>
        </form>
    </div>
</section>
</html>