<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #result_content})}">
<section id="result_content">
    <div class="container">
        <h1>Tabela wyników pomiarów na stanowiskach pracy</h1>
        <form action="">
            <table th:each="result : ${results}" class="table-result">
                <tr class="tbl-h">
                    <th>factor_name</th>
                    <th>factor_description</th>
                    <th>oel</th>
                    <th>unit</th>
                    <th>measurement_result</th>
                    <th>divide_result</th>
                    <th>interpretation</th>
                    <th>ctime</th>
                    <th>department</th>
                    <th>phase</th>
                    <th>room</th>
                    <th>activity</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>ppe</th>
                </tr>
                <tr class="tbl-d">
                    <td th:text="${result.factorName}"></td>
                    <td th:text="${result.factorDescription}"></td>
                    <td th:text="${result.oel}"></td>
                    <td th:text="${result.unit}"></td>
                    <td th:text="${result.measurementResult}"></td>
                    <td th:text="${result.divideResult}"></td>
                    <td th:text="${result.interpretation}"></td>
                    <td th:text="${result.ctime}"></td>
                    <td th:text="${result.department}"></td>
                    <td th:text="${result.phase}"></td>
                    <td th:text="${result.room}"></td>
                    <td th:text="${result.activity}"></td>
                    <td th:text="${result.firstName}"></td>
                    <td th:text="${result.lastName}"></td>
                    <td th:text="${result.ppe}"></td>
                </tr>
            </table>
        </form>
    </div>
</section>
</html>