<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #stat_content})}">
<section id="stat_content">
    <div class="container">
        <h1>Podstawowe statystyki pomiarów na stanowiskach pracy</h1>
        <div>
            <ul class="ul">
                <li>
                    <h3>Wykres ilości wykonanych pomiarów w rozbiciu na czynniki</h3>
                </li>
            </ul>
            <form>
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script th:inline="javascript">
                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [[${labels}]],
                            datasets: [{
                                data: [[${data}]],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {display: false}
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </form>
        </div>
        <div>

        </div>
    </div>
</section>
</html>